<div style="background-color:white; height: fit-content;">
    <!-- <canvas id="myChart" style="width:100%;max-width:600px"></canvas> -->
    <!-- <div> -->
        <div class="redirectPage">
            <div>
                <!-- <h4 style="display: inline; margin-right: 10px;">Date :</h4> -->
                <!-- <p style="display: inline; color: blue; margin: 0; font-size: larger;">{{ misReportDate }}</p> -->
              </div>
            <div>
                <!-- <button mat-raised-button class="hov" [routerLink]="['/all-module-graph']" >
                    View Monthly Modules
                 </button> -->
                 
<!-- <div> -->
                    <!-- <button mat-raised-button style="text-align: center;" *ngIf="Before" (click)="load_QC('Daily_Extraction_Summary','Daily Extraction Summary', 0 )"> Daily Extraction Summary </button> -->
                    
               
                 <button mat-raised-button color="primary" [routerLink]="['/mis']"  style="margin-left: 10px;">
                     Redirect to page
                 </button>
            </div>
        </div>
    <!-- </div> -->

    <div class="Misview" *ngIf="dailymodule" style="margin: 0% auto; width: 90%;">
        <div class="row1" style=" width: 100%; height: 440px; ">
            <div class="col" style="border: 1px solid #113f67; ">
                <table style="width: 100%;">
                    <thead  >
                <div  class="mis_table">
                    <th>MODULE NAME</th>
                    <th>PASS CASES</th>
                    <th>FAIL CASES</th>
                    <th>GRAPH VIEW</th>
                </div>
            </thead> 
            <tbody>    
                <div class="row" style="border: 1px solid#113f67;" *ngFor="let element of moduleData; let i = index" >
                    <td class="col-2 length"  title="{{element.Module}}">{{element.Module}}</td>
                    <td class="col-2 length" title="{{element.Pass_Cases}}" >{{element.Pass_Cases}}</td>
                    <td class="col-2 length" title="{{element.Fail_Cases}}" >{{element.Fail_Cases}}</td>
                    <td class="col-2 "> <button class="graph1" (click)="onEdit(element.id, element)">Graph</button></td>
                </div>
            </tbody>
            </table>
            </div>
        </div> 
</div>


<div *ngIf="Daily_Qc_check" style="background-color: white">
    <div class="gridtable">
      <table class="table table-striped table-bordered">
        <thead class="bg-primary">
          <tr>
            <th style="background-color: #bee5f5">Report Name</th>
            <th style="background-color: #acedc5">Report Date/Time</th>
            <th style="background-color: #eeee91">Exception Date</th>
            <th style="background-color: #fec791">Status</th>
            <th style="background-color: #f19fa3">Total Records</th>
            <th style="background-color:#ebaad6">Pass Count</th>
            <th style="background-color: #d6a8ff;">Fail Count</th>
          </tr>
        </thead>
        <tbody>
          <tr class="TDbody" *ngFor="let item of Data | defect : searchText" style="background-color: white">
            <td>{{ item.REPORTNAME }}</td>
            <td>{{ item.REPORT_DATE_TIME }}</td>
            <td>{{ item.REPORT_DATE }}</td>
            <td>{{ item.STATUS }}</td>
            <td>{{ item.TOTAL_RECORD }}</td>
            <td>{{ item.PASS_COUNT }}</td>
            <td>{{ item.FAIL_COUNT }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


<div class="my-overlay1" *ngIf="QCloder" style="display: flex; flex-direction: column;">
    <div class="ring">Loading...
        <span></span>
      </div>
  </div>



  